<div class=main_header>
<div class="chat_name">hogehuga</div>
<div class="end_link"><a href="#" class="end_btn">チャットを終了する</a></div>
</div>
<div class="main_contents">
  <div class="contents-box">
    <div class="contents-date">
      <div class="message-user">Tom</div>
      <div class="message-date">2022.10.12</div>
    </div>
    <div class="message-date">
      <div class="message-content">おはようございます</div>
    </div>
  </div>
  <div class="contents-box">
    <div class="contents-date">
      <div class="message-user">Sam</div>
      <div class="message-date">2022.10.12</div>
    </div>
    <div class="message-main">
      <div class="message-content">おはようございます</div>
    </div>
  </div>
</div>
<div class=main_footer>
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" class="submit" placeholder="送信">
</div>
</div>