<div class=side_header>
  <div >
   <%= link_to current_user.name, edit_user_path(current_user),class: "user_name" %>
  </div>
  <a href="#"  class="new-chat">チャットを作成する</a>
</div>
<div class=rooms>
  <ul class="room_lists">
    <li class="room"><a href="#" class="chat_link">tech room1</a></li>
    <li class="room"><a href="#" class="chat_link">tech room2</a></li>
  </ul>
</div>
