<div class=side_header>
  <div >
   <%= link_to current_user.name, edit_user_path(current_user),class: "user_name" %>
  </div>
  <%= link_to "チャットを作成する", new_room_path ,class:"new-chat" %>
</div>
<div class=rooms>
  <ul class="room_lists">
    <% current_user.rooms.each do |room| %>
     <li class="room"><a href="#" class="chat_link"><%= room.name %></li>
    <% end %>
    
  </ul>
</div>
