<div class=side_header>
<a href="" class="user_name">Tom</a>
<a href="" class="new_chat_link">チャットを作成する</a>
</div>
<div class=rooms>
  <ul class="room_lists">
    <li class="room"><a href="#" class="chat_link">tech room1</a></li>
    <li class="room"><a href="#" class="chat_link">tech room2</a></li>
  </ul>
</div>
